* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  font-family: Arial, sans-serif;
} */
a {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: 100vh;
  /* padding: 0px 0px 0px 0px; */
  /* margin: 0px; */
}

p {
    color: #64748b;
}

h1 {
  font-weight: 700;
  font-size: 200%;
}

h2 {
    font-weight: 500;
    font-size: 150%;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

.btn {
  padding: 5px 20px;
  font-weight: 500;
  border-radius: 8px;
}

.btn-dark {
    background-color: #032d63;
}

.btn-dark:hover {
    background-color: #032d63df;
}

.consult-hero-section {
    padding: 5% 20%;
    background: #1a5db41c;
    text-align: center;
    font-size: 20px;
}

.consult-hero-section h1 {
    font-size: 300%;
    font-weight: 700;
    margin-top: 7%;
    margin-bottom: 2%;
    background: linear-gradient(to right, #287be8, #0d448a, #287be8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.consult-hero-section .green-text {
  margin: 2%;
  font-size: 17px;
  color: #21c45d;
}

.schedule-section {
  text-align: center;
  padding: 60px 7%;
}

.schedule-section .gray-icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  background-color: #00000009;
  color: #6d6d6d;
}

.schedule-section .green-icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  background-color: #21c45d1d;
  color: #21c45d;
}

.schedule-section .blue-icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  background-color: #e7f1fd;
  color: #0d6efd;
}

.schedule-section svg {
  width: 25px;
  height: 25px;
}




.alert-success {
    background-color: #d0f6cc;
    width: fit-content;
}

.alert-danger {
    width: fit-content;
}

.error {
  color: red;
  font-size: 90%;
  margin-top: 5px;
}
